
  <div class="row">
    <div class="col-sm-12">

        <div class="card">
            <div class="card-header">
             Create Product Category
            </div>
            <div class="card-body">
              <h5 class="card-title">Category Form</h5>
              <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
                  <div class="form-row">
                    <input type="hidden" ngModel name="id" id="id" value="0">
                    <div class="form-group col-sm-3 mb-3">
                     
                      <input class="form-control form-control-sm" 
                      type="text" 
                      ngModel 
                      name="ProductCategoryName" 
                      id="productCategoryName"
                      placeholder="Category Name" required 
                      #productCategoryName="ngModel"
                      [ngClass]="{'is-invalid': !productCategoryName.valid && (productCategoryName.dirty || productCategoryName.touched)}"
                      />
                        <div class="invalid-feedback" *ngIf="!productCategoryName.valid && (productCategoryName.dirty || productCategoryName.touched)">
                          Category Name is required!
                        </div>
                    </div>
          
                  </div>
                  <div class="form-row">
                    <div class="col-sm-9">
                      <button type="submit" [disabled]="!categoryForm.valid" class="btn btn-primary btn-sm pull-right ">Save</button>
                    </div>
                  </div>
                </form>
            </div>
          </div>

    

    </div>
  </div>
  <div class="row"></div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-responsive table-hover" *ngIf="productCategoryList">
        <thead>
          <tr>
            <th>Id</th>
            <th>Category Name</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of productCategoryList">
           <td>{{category.id}}</td>
           <td>{{category.productCategoryName}}</td>
          </tr>
          
        </tbody>
      </table>

    </div>
  </div>
