<div class="row">
  <div class="col-sm-12 table-responsive">
    <!-- <table class="table table-dark">
      <thead>
        <tr>
          <th>Id</th>
          <th>Product Code</th>
          <th>BarCode</th>
          <th>Product Name</th>
          <th>Description</th>
          <th>Category Id</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productList">
            <td>{{product.id}}</td>
            <td>{{product.productCode}}</td>
            <td>{{product.barCode}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.description}}</td>
            <td>{{product.productCategoryId}}</td>
        </tr>
      </tbody>
    </table> -->

    <ng2-smart-table [settings]="settings" [source]="productList" ></ng2-smart-table>
  </div>
</div>